<h1 id="page-title">Eat Da Burger!</h1>

<div id="burger-img">
  <img src="/assets/img/burger.png" alt="cartoon burger" height="250px" width="250px" />
</div>

<div id="form">
<h2 id="add-burger">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>

<div class="row">
<div class="column">

<h2 class="list-title">Burgers to devour!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>{{this.burger_name}} {{>burgers/burger-block devoured=false}}</li>
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="column">
<h2 class="list-title">Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>{{this.burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>

